anaconda-navigator
anaconda-project
astropy
autopep8
boltons
bottleneck
brotlipy
conda-build
conda-repo-cli
conda-token
conda-verify
crispy-bootstrap5
cytoolz
datashader
distributed
flake8
flask
flit-core
gensim
gunicorn
h5py
hvplot
imagecodecs
imbalanced-learn
intake
jsonpatch
jupyter
jupyterlab
lz4
mkl-fft
mkl-random
mkl-service
mock
munkres
mysqlclient
navigator-updater
nltk
openpyxl
pep8
pip-chill
plotly
pooch
pycurl
pydocstyle
pyhamcrest
pyjwt
pyodbc
pysocks
pytest
python-snappy
rope
ruamel-yaml-conda
scikit-image
scikit-learn-intelex
scrapy
seaborn
sip
spyder
sqlalchemy
statsmodels
sympy
tables
tabulate
tbb
torch
transformers
unidecode
whatthepatch
whitenoise
win-inet-pton
wincertstore
xlwings
yapf
