{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sign In</title>

    <!-- Add Twitter Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">

</head>

<body>
    <div id="wrapper">
        <!-- header -->
        <div id="header">
            <a href="/">
                <b><h1>My Social Web Login</h1></b>
            </a>
        </div>

        <!-- Content -->
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                <h1>Log in</h1>
                <div>
                    {% for message in messages %}
                    <h5>{{ message }}</h5>
                    {% endfor %}
                </div>
                <input type="text" name="username" placeholder="Username" style="border: 1px solid #d3d5d8 !important;">
                <input type="password" name="password" placeholder="Password" style="border: 1px solid #d3d5d8 !important;">
                <button type="submit">Login</button>
                <div>
                    <p>Not registered? <a href="/signup">Create an account</a></p>
                </div>
            </form>
        </div>

        <!-- Footer -->
        <div></div>
    </div>

    <!-- Add Twitter Bootstrap JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>
